# APP Variables
COMPOSE_PROJECT_NAME=noFraud
APP_NAME=noFraud
APP_PORT=4000

# Environment
NODE_ENV=development

# API Database
DB_WRITER_HOST=noFraud_mysql8
DB_READER_HOST=noFraud_mysql8
DB_PORT=3326
DB_NAME=noFraud
DB_USERNAME=root
DB_PASSWORD=

# Axios
C7_API_URL=
C7_APP_ID=
C7_APP_SECRET=

# SQS
SQS_FIFO_URL=
SQS_IS_ENABLED=false

# SendGrid
SENDGRID_API_KEY=

# NoFraud
VINOSHIPPER_API_URL=https://zlminc.dev